:root {
    --title-color: #b0ccc0;
    --support-color: #daece0;
    --support2-color: #f1d5ca;
    --text--color: #cdc2c2;
    --support3-color: #f1b479;
    --support4--color: #f5ede4;
    --bold--gray : #7c7e7b;
    --kor-font: "Noto Sans KR", sans-serif;
    --eng-font: "Montserrat", sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }

    
a.anchor {
    display: block;
    position: relative;
    top: -83px;
    visibility: hidden;
}
  
  .topMargin {
    height: 83px;
  }
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 12px;
    background-color: var(--title-color);
    margin: 0 auto;
    font-family: var(--eng-font);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
  }
  .navbar a {
    color: white;
  }
  
  .navbar__logo a {
    font-family: var(--kor-font);
    font-weight: bold;
  }
  .navbar__menu {
    display: flex;
    padding-left: 0;
    list-style: none;
  }
  
  .navbar__menu li {
    padding: 8px 12px;
  }

  
  /* ----------------------------------- */

  .projectsDetail > div {
      max-width: 1024px;
      margin: 0 auto;
  }

  .projectHeader {
      display: flex;
  }

  .projectHeaderImg {
      width: 55%;
  }

  .projectHeaderDesc {
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .projectHeaderImg > img {
      width: 100%;
  }

  .projectHeaderDesc > h1 {
      font-family: var(--eng-font);
      border-bottom: #dddddd solid 1px;
      letter-spacing: -0.1rem;
      font-size: 3rem;
      width: 100%;
      padding: 10px 0;
      margin: 0;
  }
.categoryDate {
    color: #757575;
    font-family: var(--kor-font);
}
  .projectHeaderDesc .date {
      float: right;
  }